*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* border: lime 1px solid; */
}

body{
    background-color: black;
    font-family: sans-serif;
}



main :not(a i){
    text-decoration: none;
    color: white;
}

.buttons-top{
    position: absolute;
    right: 2px;
    top: 10px;
    margin: 3px;
}

.buttons-top span{
    background-color: grey;
    border-radius: 3px;
    padding: 3px;
}

.buttons-top span:first-child i{
    margin-right: 5px;
}

main{
    height: 100vh;
    border: 1px solid lime;
}

.zoom-container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
}

.zoom-container .user-video{
    position: relative;
    border: 1px solid lime;
    background-image: url(https://picsum.photos/200/300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 150px;
}

.zoom-container .user-video span{
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    bottom: 0;
    padding: 3px;
}

/* FOOTER */
footer{
    background-color: #222222;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    list-style-type: none;
    
    bottom: 0;
    color: white;
    padding: 20px; 
    
}

ul li{
    border: lime;
    
}

ul li .fa-microphone-slash, .fa-video{
    font-size: 30px;
}

ul li .fa-chevron-up{
    font-size: 12px;
}

ul li div{
    font-size: 16px;

}



#right-button div{
    color: red;
}



